.Button {
  border-radius: 2px;
  font-size: 1rem;
  border: 1px solid;
  justify-content: center;
  background-color: #f3eefc;
  align-items: center;
  display: flex;
  cursor: pointer;
  width: 40px;
  height: 25px;

  &:hover {
  }
}
