.ClientsHeader {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  max-width: 760px;
  min-width: 290px;
  justify-content: center;
  margin: auto;
  &__title {
    display: flex;
    flex: 1;
    justify-content: center;
    //  margin-left: 10px;
  }
  &__addUser {
    font-size: 1.4rem;
    display: flex;
    cursor: pointer;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
  }
  &__arrowBack {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    margin-right: 10px;
    cursor: pointer;
  }
}

@media screen and (min-width: 425px) {
  .ClientsHeader {
    &__title {
      font-size: 1.3rem;
      margin-left: 40px;
    }
    &__addUser {
      font-size: 1.3rem;
      display: flex;
      cursor: pointer;
    }
    &__arrowBack {
      font-size: 1.3rem;
    }
  }
}
