.clients-header {
  display: flex;
  flex: 100%;
  align-items: center;
  max-width: 760px;
  min-width: 290px;
  justify-content: center;
  margin: auto;
  &__title {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 425px) {
  .clients-header {
    &__title {
      font-size: 1.4rem;
    }
  }
}
@media screen and (min-width: 500px) {
  .clients-header {
    &__title {
      font-size: 1.5rem;
    }
  }
}
@media screen and (min-width: 625px) {
  .clients-header {
    &__title {
      font-size: 1.6rem;
    }
  }
}
