$primary: rgb(155, 39, 175);
$p-lite: #cf5ce2;
$p-dark: #69007f;
$s-lite: #f5f5f6;
$s-dark: #e1e2e1;
$p-text: #ffffff;
$p-text-dark: #414142;
$p-green-succes: #88ff8d;
$p-red-fail: rgb(253, 108, 108);
$p-green-success: forestgreen;
$p-error: red;
