.JornalHeader {
  display: flex;
  width: 320px;
  flex-direction: column;
  background-color: #f3eefc;
  flex: 0 0 100%;
  align-items: center;
  border-radius: 0 10px 0 0;
  z-index: 2;
  opacity: 0.9;

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 5px 0 10px;
    .filterDays {
      display: flex;
      &__item {
        font-size: 0.8rem;
        padding: 2px 40px;
        background-color: #ffffff;
        margin-right: 5px;
      }
    }
    .JornalHeader {
      &__navButton {
        border: none;
        font-size: 1.2rem;
      }
      &__date {
        margin: 0 10px;
        font-size: 1rem;
      }
    }
  }
  &__row-position {
    justify-content: space-between;
    margin: 5px 0;
  }
}
