@import "../../colors.scss";
.message {
  text-align: center;
  padding: 5px 10px;
  margin: auto;
  font-size: 1.2rem;
  width: 100%;
}
.message-success {
  background-color: #7cb342;
}
.message-fail {
  color: rgba(0, 0, 0, 0.87);
  background-color: $p-lite;
}
