.Jornal {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  border-radius: 0 10px 10px 0;
  position: relative;
  // height: 600px;
  // overflow-y: auto;
  // overflow-x: hidden;
  &__header {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  // &__ContentWraper {
  //   width: 100%;
  // }
}
