.home-header {
  display: flex;
  align-items: center;
  max-width: 760px;
  min-width: 320px;
  flex: 100%;
  margin: auto;
  &__label {
    font-size: 1.4rem;
    flex: 1;
    justify-content: center;
    display: flex;
  }
  &__menu {
    padding-right: 20px;
  }
  &__icon-menu {
    font-size: 1.9rem;
    display: flex;
    color: #fafafa;
  }
}

@media screen and (min-width: 425px) {
  .home-header {
    &__label {
      font-size: 1.4rem;
    }
    &__icon-menu {
      font-size: 2rem;
    }
  }
}
@media screen and (min-width: 500px) {
  .home-header {
    &__label {
      font-size: 1.5rem;
    }
    &__icon-menu {
      font-size: 2.1rem;
    }
  }
}
@media screen and (min-width: 625px) {
  .home-header {
    &__label {
      font-size: 1.6rem;
    }
    &__icon-menu {
      font-size: 2.2rem;
    }
  }
}
