.HomeHeader {
  display: flex;
  align-items: center;
  max-width: 760px;
  min-width: 320px;
  flex: 100%;
  margin: auto;
  &__label {
    flex: 1;
    justify-content: center;
    display: flex;
  }
  &__menu{
    padding-right: 20px;
  }
}
