.services {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
  border-radius: 0 10px 10px 0;
  position: relative;

  min-height: 100vh;
}

.servic-list {
  .servic {
    border-bottom: 2px solid #cecece;
  }
}
