.services-header {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  max-width: 760px;
  margin: auto;
  &__filter {
    flex: 1;
    min-width: 130px;
  }
  &__title {
    font-size: 1.4rem;
    flex: 1;
    margin-left: 10px;
  }
  &__category {
    font-size: 1.4rem;
    display: flex;
    cursor: pointer;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 0 1%;
  }
  &__arrow-back {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 425px) {
  .services-header {
    &__title {
      font-size: 1.3rem;
      margin-left: 40px;
    }

    &__arrow-back {
      font-size: 1.3rem;
    }
    &__category {
      font-size: 1.3rem;
    }
  }
}
