@import "../../../../colors.scss";
.addService {
  color: #ffffff;
  background-color: #4ed8ff;
  font-size: 2.5rem;
  border-radius: 50%;
  padding: 12px 19px;
  position: absolute;
  right: 15px;
  top: 500px;
  cursor: pointer;
  z-index: 1;
}

.Services {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: flex-start;
  border-radius: 0 10px 10px 0;
  position: relative;

  min-height: 100vh;
}

.servic-list {
  .servic {
    border-bottom: 2px solid #cecece;
  }
}
