.addNewWrite {
  &__wraper {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: auto;
    font-size: 1rem;
    label {
      position: relative;
    }
    input,
    select {
      width: 100%;
      padding: 5px 0 5px 5px;
      margin: 10px 0 10px 0;
      font-size: 1rem;
    }
  }
  &__error {
    color: red;
    font-size: 0.9rem;
    position: absolute;
    width: 200px;
    right: -20px;
    top: -6px;
  }
  &__button {
    margin: 5px 0;
    padding: 5px;
  }
  &__colors {
    display: flex;
    justify-content: space-around;
    margin: 10px;
  }
  &__ModalClose {
    display: flex;
    margin: 5px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }

  .button {
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  .delet {
    background-color: #ff9a9a;
  }
  .save {
    background-color: #a7ffa7;
  }
}
