@import "../../../../colors.scss";
.ClientsList {
  width: 100%;
  //background-color: #f7f7f7;
  color: $p-text-dark;
  font-size: 1.2rem;
  min-width: 320px;
  &__item {
    border-bottom: 2px solid #c5c5c5 !important;
  }
  &__avatar {
    width: 40px;
    height: 40px;
  }
  &__client {
    flex-grow: 1;
    margin: 1% 0 1% 5%;
    font-size: 1.2rem;
  }

  &__nameFamale {
    width: 185px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 2%;
    font-weight: 600;
  }
  &__phone {
    margin: 2%;
    font-size: 0.9rem;
  }

  &__icon {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
@media screen and (min-width: 375px) {
  .ClientsList {
    &__avatar {
      width: 50px;
      height: 50px;
    }
  }
}
@media screen and (min-width: 425px) {
  .ClientsList {
    &__avatar {
      width: 60px !important;
      height: 60px !important  ;
    }
    &__nameFamale {
      width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 2%;
      font-weight: 600;
    }
  }
}
