@import "../../colors.scss";
.contaner {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(45deg, #d875efa6, #ca74e2b3);
  border-radius: 1%;
  box-shadow: 0px 3px 10px #540e67;
}
.auth {
  display: block;
  margin: auto;
  width: 90%;
  padding: 10%;
  background-color: $s-lite;
  border-radius: 1%;
  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
  }
  &__variant{
    display: flex;
    flex-direction: column;
    padding-top: 20px
  }
  &__signIn{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
  }
  &__signUp{
    display: flex;
    flex-direction: column;
  }
  .form {
    &__item {
      margin: 3% 0;
    }
    &__submit {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      padding:5px;  
    }
   
  }
}

@media screen and (min-width: 425px) {
  .auth {
    &__title {
      font-size: 2rem;
    }
  }
}
